<div class="footer">
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2018
    </div>
</div>


<script src="~/admin/js/jquery-3.1.1.min.js"></script>
<script src="~/admin/js/popper.min.js"></script>
<script src="~/admin/js/bootstrap.js"></script>
<script src="~/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/admin/js/plugins/peity/jquery.peity.min.js"></script>
<script src="~/admin/js/inspinia.js"></script>
<script src="~/admin/js/plugins/pace/pace.min.js"></script>
<script src="~/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="~/admin/js/demo/peity-demo.js"></script>

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>