<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin Paneli</title>

<link href="~/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="~/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="~/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/admin/css/animate.css" rel="stylesheet">
<link href="~/admin/css/style.css" rel="stylesheet">
